<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Capstone Travel App</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  <link href="/src/client/styles/base.scss">
  <link href="/src/client/styles/footer.scss">
  <link href="/src/client/styles/form.scss">
  <link href="/src/client/styles/header.scss">
  <link href="/src/client/styles/resets.scss">
  <link rel="icon" href="data:,"> <!-- Added to combat 'favicon.ico' GET errors. Reference: https://stackoverflow.com/questions/1321878/how-to-prevent-favicon-ico-requests-->
  <!--<script src="/src/server/server.js" type="module"></script>-->
</head>
<body>
  <div id = "app">
    <div class ="headline">
      Plan Your Next Adventure
    </div>

    <section>
      <div class="card in">
        <form>
          <div class ="destination">
            <label for="city">Where Do You Wish To Go?</label>
            <input type="text" id="city" placeholder="Enter City">
          </div>
  
          <div class="date">
            <div id="depart">
              <label for="depart">When Will You Depart?</label>
              <input type="text" id="start" placeholder="MM/DD/YYYY">
            </div>

            <div id="return">
              <label for="return">When Will You Return?</label>
              <input type="text" id="end" placeholder="MM/DD/YYYY">
            </div>
          </div>
  
          <div class ="holder submit">
            <button id="submit" type = "submit"> Submit </button>
          </div>
        </form>
      </div>
    </section>
  
    <div class="card out">
      <div class ="holder entry">
        <div class = "title">Your Trip:</div>
      </div>
  
      <div id ="geoEntry">
        <div id ="daysToTrip"></div>
        <div id ="length"></div>
        <div id ="location"></div>
        <div id ="coordinates"></div>
        <div id ="description"></div>
        <div id ="temp"></div>
        <div id ="photoURL"></div>
      </div>
    </div>
  

  <footer>
    <div id="footerCard">
      <div id="copyright">
        Starter code and project instructions provided by Udacity.com.
      </div>
      <div id="thanks">
        Special thanks to the APIs: Geonames, WeatherBit, and Pixabay.
      </div>
    </div>
  </footer>
</div>


  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
  </script>
  
</body>
</html>