.holder {
  display: flex;
  flex-direction: column;
  height: 10%;
  width: auto;
  margin: 0 auto;
}

.date {
  margin: 0 auto;
  width: auto;
}

#destination {
  grid-area: city;
  width: auto;
  margin: 0 auto;
}

#depart {
  grid-area: dDate;
}

#return {
  grid-area: rDate;
}

.entry {
  width: 25%;
  height: auto;
  background: rgba(59, 74, 107, 0.8901960784);
  display: block;
}

.title {
  text-align: center;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  margin: 0 auto;
  padding-bottom: 2px;
}

#geoEntry {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 90%;
  background: #a78f31;
  color: #200340;
  letter-spacing: 1.5px;
  margin: 0 auto;
  border-radius: 15%;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  box-shadow: 2px 0px 5px #444;
}

#coordinates,
#location,
#country,
#length,
#daysToTrip,
#description,
#temp,
#photoURL,
#pix,
#pixDefault {
  display: grid;
  font-size: 16px;
  text-align: center;
  color: #080807;
  margin-top: 5px;
}

#daysToTrip {
  margin-top: 5px;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  height: 1.5em;
  font-size: 1em;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  background: rgba(59, 74, 107, 0.5607843137);
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  letter-spacing: 1.5px;
}

input {
  display: flex;
  height: 100%;
  width: 99%;
  background: #5c8ffc;
  color: white;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  justify-content: center;
  letter-spacing: 1.5px;
  border: 1px solid black;
  margin: 0 auto;
  margin-bottom: 10px;
  box-shadow: 2px 4px 5px #444;
}

input:hover {
  background: rgba(92, 143, 252, 0.7176470588);
}

button {
  display: block;
  width: 30%;
  height: 90%;
  background: #23bce6;
  color: #f0d43a;
  font-size: 26px;
  font-family: "Oswald", sans-serif;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  letter-spacing: 1.5px;
  margin: 0 auto;
  border: 2px solid #143a45;
  box-shadow: 2px 4px 5px #444;
}

button:hover {
  background: rgba(35, 188, 230, 0.5450980392);
}

h1 {
  font-size: 36px;
}

figure {
  display: flex;
  padding-top: 10px;
  font-size: 12px;
  justify-content: end;
}

.headline {
  width: 50%;
  text-align: center;
  font-size: 30px;
  color: #f0d43a;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  letter-spacing: 1.5px;
  border: 4px solid rgb(168, 109, 21);
  margin: 0 auto;
  padding: 5px;
  grid-area: hd;
}

#photo-credit,
#copyright,
#thanks {
  color: #f4f3ed;
  font-size: 0.7em;
  text-align: center;
}

#footerCard {
  margin-top: 30px;
  width: 50%;
  margin: 0 auto;
  border: 1px solid #fefefe;
}

body {
  background: rgb(34, 195, 112);
  background: linear-gradient(0deg, rgb(34, 195, 112) 26%, rgb(108, 218, 255) 30%, rgb(237, 243, 4) 39%, rgb(253, 187, 45) 53%, rgb(162, 45, 253) 70%, rgb(2, 4, 91) 97%);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #fffffe;
  grid-gap: 1em;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 2px 4px 0 #ffffff;
  transition: 0.3s;
  font-size: 20px;
  background: rgb(217, 255, 0);
  background: radial-gradient(circle, rgb(217, 255, 0) 8%, rgb(252, 163, 0) 33%, rgb(21, 205, 208) 49%, rgb(0, 0, 0) 80%);
  color: #ffffff;
}

.card in {
  grid-area: in;
}

.card out {
  grid-area: out;
}

/* Initial size for small screens < 600px*/
#app {
  display: flex;
  flex-direction: column;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 250px 300px;
  border: 2px solid #ffffff;
  grid-template-areas: "hd" "city" "dDate" "rDate" "post" "ft";
}

/* For Screens < 900px*/
@media (max-width: 900px) {
  #app {
    display: flex;
    flex-direction: column;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 250px 600px;
    grid-template-areas: "hd hd hd hd hd hd hd hd" "city city city city city city city city" "dDate dDate dDate dDate dDate dDate dDate dDate" "rDate rDate rDate rDate rDate rDate rDate rDate" "post post post post post post post post" "ft ft ft ft ft ft ft ft";
    border: 2px solid #ffffff;
    height: 100vh;
  }
  #coordinates,
  #location,
  #country,
  #length,
  #daysToTrip,
  #description,
  #temp,
  #photoURL {
    font-size: 0.8em;
    margin-top: 5px;
  }
  #pix,
  #pixDefault {
    max-width: 95%;
    max-height: 95%;
    -o-object-fit: fill;
       object-fit: fill;
    border-radius: 15%;
    margin: 0 auto;
  }
}
/* Larger Screens */
@media (min-width: 901px) {
  #app {
    display: flex;
    flex-direction: column;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 250px 600px;
    grid-template-areas: "hd hd hd hd hd hd hd hd" "city city city city city city city city" "dDate dDate dDate dDate" "rDate rDate rDate rDate" "post post post post post post post post" "ft ft ft ft ft ft ft ft";
    border: 2px solid #ffffff;
    height: 100vh;
  }
  .date {
    display: flex;
    height: 75px;
  }
  #depart,
  #return {
    display: flex;
    flex-direction: column;
    width: 49%;
    margin: auto;
    margin-bottom: 10px;
  }
  .destination {
    width: 50%;
    margin: 0 auto;
  }
  #pix,
  #pixDefault {
    max-width: 95%;
    max-height: 95%;
    -o-object-fit: fill;
       object-fit: fill;
    align-items: center;
    border-radius: 15%;
    margin: 0 auto;
  }
}/*# sourceMappingURL=base.css.map */